//
// Screen sizes
$medium-screen:       630px;
$large-screen:        1060px;

$min-content-width:   280px;
$max-content-width:   1470px;

//
// Typography
$global-fonts:          sans-serif;
$headline-fonts:        'Raleway', sans-serif;
$base-font-size:        10px;
$base-line-height:      1.6;
$base-content-spacer:   1.25em;
$lowered-font-size:     90%;

//
// Colors
$content-background-color:  #fefefe;
$base-font-color:           #111;
$link-color:                #1bbc9b;
$link-color-hover:          desaturate($link-color, 50%);
$base-ui-color:             $link-color;
$input-background-color: #fff;
$input-border-color: #ccc;
$button-font-color: #fff;

//
// Grid
$grid-gutter:     1.78890877%;
$column-width:    3.66726297%;
$gutted-column:   5.45617174%;

//
// Medium screen nested scale
$base-medium-column-margin: ((2 * $gutted-column) + $grid-gutter);

//
// Small screen main column
$small-screen-column-margin:        (2 * ceil($grid-gutter));
$small-screen-column-margin-nested: ($small-screen-column-margin * 1.1);

//
// Scale Faktor (100 / (100 - ((2 * $gutted-column) + $grid-gutter)) ))
// Faktor aus: 100% - margins / 100

// Fuer spaeter: Raster Mathe
//
// $number-of-columns: 18;
// $grid-gutter:       1.8%;
// $column-width:      unit(((100 - (($number-of-columns + 2) * $grid-gutter)) / $number-of-columns), %);
// $gutted-column:     ($column-width + $grid-gutter);
//
// $column-count:     18;
// $column-math:      percentage(1 / $column-count);
// $effective-width:  percentage(1 - ( 2 * $column-gutter-m));
// $column-gutter-m:  1.5%;
// $column-width-m:   (0.65 * $column-math);
