// Webfont
@import url("http://fonts.googleapis.com/css?family=Bitter:400italic,300,400,600,700");

@import '_variables';
@import '_mixins';

//
// Modules
@import '_modules/_normalize';
@import '_modules/_base';
@import '_modules/_typography';
@import '_modules/_forms';
@import '_modules/_utilities';

body {}

// @include clearfix();

.main {
  position: relative;
  margin: 0 auto;
  min-width: $min-content-width;
  @include clearfix();

  @media screen and (max-width: ($medium-screen - 1)) {
    padding: 0 $small-screen-column-margin;
  }

  @media screen and (min-width: $medium-screen) {
    padding-left: ((2 * $gutted-column) + $grid-gutter);
    padding-right: ((2 * $gutted-column) + $grid-gutter);
  }
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

.screenshot {
  @media screen and (min-width: $medium-screen) {
    width: 75%;
    margin-left: -(((2 * $gutted-column) + (2 * $grid-gutter)) * (100 / strip-units(100% - ((2 * $gutted-column) + (2 * $grid-gutter)))));
  }
}
