//
// Global typography
html {
  font-size: $base-font-size;
}

body {
  background: $content-background-color;
  color: $base-font-color;
  font-size: 150%;
  font-family: $global-fonts;
  line-height: $base-line-height;

  @media screen and (min-width: $medium-screen) and (max-width: ($large-screen - 1)) {
    font-size: 170%;
    line-height: ($base-line-height + 0.1);
  }

  @media screen and (min-width: $large-screen) {
    font-size: 180%;
    line-height: ($base-line-height + 0.15);
  }
}

::-moz-selection {
  @include selected-text();
}

::selection {
  @include selected-text();
}
